VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtsemplaGx2am5qc2tpeHBhYmtyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTM4MTgzMywiZXhwIjoyMDgwOTU3ODMzfQ.xA4QUqjifsNdAKwr7ViTUGEI0B8Fi-byZpVzUPk2zbc"
VITE_SUPABASE_URL="https://klzjehlvjnjskixpabkr.supabase.co"